Source: appmenu-qt
Section: kde
Priority: extra
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Ritesh Raj Sarraf <rrs@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev (>= 4.8), kdelibs-bin, cmake, kdelibs5-dev, kdebase-workspace-dev, libx11-dev, libxext-dev, pkg-config, libdbusmenu-qt-dev (>= 0.9.0)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/appmenu-qt

Package: appmenu-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: application menu for qt
 appmenu provides you with an integrated application menu in your
 global menu bar
 .
 appmenu-qt will work for applications designed for QT and KDE
